.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  display: flex;
  width: 100%;
  height: 225px;
  align-items: center;
  justify-content: center;
  padding-left: 320px;
  background-color: var(--trout);
  text-align: center;
}

.title {
  margin-bottom: 1.15rem;
  font-size: 1.25rem;
  color: var(--white);
}

.link {
  color: var(--first-side-gradient);
  background: linear-gradient(
    -290deg,
    var(--first-side-gradient),
    var(--second-side-gradient)
  );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-box-decoration-break: clone;
  box-decoration-break: clone;
  text-shadow: none;
}

.link:hover {
  text-decoration: underline;
  text-decoration-color: var(--silver);
}

.footer use {
  fill: var(--white);
}

.footer .social .link:hover use {
  fill: var(--logo);
}

@media (max-width: 992px) {
  .footer {
    padding: 0 1.5rem;
  }
}
