.filter {
  width: 100%;
  margin-top: 3.5rem;
}

.filterList {
  display: flex;
  flex-wrap: wrap;
}

.filterList:not(:last-child) {
  margin-bottom: 1.5rem;
}

.filter .filterItem {
  padding: 0.25rem;
  text-align: center;
}

.filterItem__input {
  display: none;
}

.filterItem__label {
  display: block;
}

.filterItem__button {
  width: 100%;
  padding: 0.525rem 0.435rem;
  border-radius: 3px;
  font-weight: 400;
  background-color: var(--dark-light);
  transition: var(--linear-background-color);
  color: var(--white);
  border: none;
  box-shadow: none;
  cursor: pointer;
}

.filterItem__button:hover {
  background-color: var(--tuna);
}

.filterItem__input:checked + .filterItem__button {
  background: var(--first-side-gradient);
}
