.header {
  z-index: 4;
  position: fixed;
  display: flex;
  flex-wrap: wrap;
  flex-basis: 320px;
  width: 320px;
  top: 0;
  bottom: 0;
  left: 0;
  height: 100%;
  padding: 40px 20px;
  overflow-y: auto;
  background-color: var(--bg-color);
  transition: var(--linear-background-color), var(--linear-color);
}

.wrapperButton {
  width: 100%;
  margin-bottom: 1rem;
  text-align: center;
}

.wrapperButton button {
  width: 100%;
}

.wrapperSocial {
  width: 100%;
  margin-bottom: 2rem;
  text-align: center;
}
